@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebQLSP.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    @using (Html.BeginForm())
    {
        <div class="d-flex justify-content-start align-items-center">
            <div class="form-group form-inline flex-grow-1">
                <input type="search" placeholder="Số điện thoại" class="form-control w-50" name="SearchString" />
                <input type="submit" class="btn btn-primary ml-1" value="Search" />
            </div>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>

    }
    @if (Model != null && Model.Any())
    {

    }
    else
    {
        <p>No results found.</p>
    }
</div>
<table class="table">
    <tr>
        <th>
            Mã khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Cus_ID
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus_Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cus_ID }) 
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
    {
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 10,
        LiElementClasses = new string[] { "page-item" },
    }
)